html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 16px;
/*
    background-color: black;
*/
    margin: 0;
    padding: 0;
}

* > {
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
/*
    background-image: url(Assets/pexels-felix-mittermeier-956999.jpg);
    background-size: cover;
*/
}

/* USER INFORMATION */

#user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile-picture-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#profile-picture {
    width: 25%;
    height: auto;
    justify-self: center;
    align-self: center;
}

/* LINKHUB */

#links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#links > ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    margin: 0;
    padding: 0;
}

.linkbox {
    text-decoration: none;
    width: 50vw;
    height: 10vh;
    border: 1px solid black;
    margin: 10px 0;
}

.linkbox > a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.link-icon {
    width: 25%;
    height: 100%;
    font-size: 5rem;
}

.link-text {
    width: 75%;
    height: 100%;
    font-size: 1.5rem;
}

#instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
        background-clip: text;
    -webkit-text-fill-color: transparent;
}

#github {
    color: black;
}

#twitch {
    color: purple;
}

#linkedin {
    color: midnightblue;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
}