html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    overflow: scroll;
/*
    background-color: black;
*/
    margin: 0;
    padding: 0;
}

* > {
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
/*
    background-image: url(Assets/pexels-felix-mittermeier-956999.jpg);
    background-size: cover;
*/
}

/* USER INFORMATION */

#user-info {
    width: 100%;
    height: 35%;
    background-image: url(Assets/pexels-felix-mittermeier-956999.jpg);
    background-size: cover;
    object-fit: cover;
}

#profile-picture-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#profile-picture {
    display: flex;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
    justify-self: center;
    align-self: center;
    margin: 0;
    padding: 0;
}

#linkhub-username {
    font-size: 1rem;
    padding: 5px 7px;
    background-color: white;
    border-radius: 50px;
    margin: 2.5vh 0 0;
}

/* LINKHUB */

#links {
    width: 100%;
    height: 1fr;
    margin: 0;
    padding: 5vh 0 2vh;
    background-color: rgb(42, 42, 42);
}

#links > ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /*
    gap: 3vh;
    row-gap: 3vh;
    */
}

.linkbox {
    text-decoration: none;
    width: 80vw;
    height: 8vh;
    border: 5px solid orangered;
    margin: 0 0 3vh;
    padding: 0;
    background-color: white;
}

.linkbox > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.link-icon {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    font-size: 3.5rem;
}

.link-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
    font-size: 1.75rem;
}

#instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

#github {
    color: black;
}

#twitch {
    color: purple;
}

#linkedin {
    color: midnightblue;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
    font-size: 1.5rem;
    background-color: rgb(42, 42, 42);
}

#logo-container {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

#linkhub-logo {
    color: orange;
    margin: 0 2.5px 0 0;
    padding: 0;
}

#linkhub-text {
    margin: 0 0 0 2.5px;
    padding: 0;
}